<div class="mt-4">
    <div class="d-flex justify-content-between">
        <h3>Khóa học của tôi</h3>
        <a href="/me/trash/courses" class="btn btn-warning"><i class="fas fa-trash"></i> Thùng rác ({{deletedCount}})</a>
    </div>
    <table class="table table-striped table-light mt-4">
        <thead>
            <tr>
                <th scope="col">STT</th>
                <th scope="col">Tên khóa học</th>
                <th scope="col">Trình độ</th>
                <th scope="col">VideoId</th>
                <th scope="col">Thòi gian tạo</th>
                <th scope="col">Thao tác</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.videoId}}</td>
                <td>{{this.createdAt}}</td>

                <td>
                    <a href="/courses/editCourse/{{this._id}}" class="btn btn-primary mr-2"><i
                            class="fas fa-edit"></i></a>
                    <a href="" class="btn btn-danger mr-2" data-bs-toggle="modal" data-id="{{this._id}}"
                        data-bs-target="#delete-course-modal"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="6" class="text-center">
                    Bạn chưa đăng khóa học nào.
                    <a href="/courses/createCourse">Đăng khóa học</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{!-- Confirm delete course --}}
<div class="modal" tabindex="-1" id="delete-course-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thông báo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Bạn có thực sự muốn xóa</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" id="btn-delete-course">Xác nhận</button>
            </div>
        </div>
    </div>
</div>

{{!-- delete-hidden-form --}}
<form method="POST" name = "delete-course-form">

</form>

<script>
    // DÙng JavaScript
    var deleteModal = document.getElementById('delete-course-modal')
    deleteModal.addEventListener('show.bs.modal', function (event) {
        var courseId;
        var deleteForm = document.forms['delete-course-form'];

        // Chọn nút xóa để lấy dữ liệu 
        var button = event.relatedTarget;
        courseId = button.getAttribute('data-id');
        console.log(courseId);

        // Chọn nút xác nhận để xóa
        var btnDeleteCourse = document.getElementById('btn-delete-course');
        btnDeleteCourse.onclick = function () {
            deleteForm.action = '/courses/' + courseId + '?_method=DELETE';
            deleteForm.submit();
        }
    })
</script>