<div class="mt-4">
    <div class="d-flex justify-content-between">
        <h3>Khóa học đã xóa</h3>
        <a href="/me/stored/courses" class="btn btn-info"><i class="fas fa-circle-info"></i> Danh sách khóa học</a>
    </div>
    <table class="table table-striped table-light mt-4">
        <thead>
            <tr>
                <th scope="col">STT</th>
                <th scope="col">Tên khóa học</th>
                <th scope="col">Trình độ</th>
                <th scope="col">VideoId</th>
                <th scope="col">Thòi gian xóa</th>
                <th scope="col">Thao tác</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.videoId}}</td>
                <td>{{this.deletedAt}}</td>

                <td>
                    <a href="" class="btn btn-primary btn-restore mr-2" data-id="{{this._id}}"><i class="fas fa-reply"></i></a>
                    <a href="" class="btn btn-danger mr-2" data-bs-toggle="modal" data-id="{{this._id}}"
                        data-bs-target="#delete-course-modal"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="6" class="text-center">
                    Thùng rác trống
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{!-- Confirm delete course --}}
<div class="modal" tabindex="-1" id="delete-course-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thông báo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Hành động này không thể khôi phục. Bạn vẫn muốn xóa khóa học này?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" id="btn-delete-course">Xóa vĩnh viễn</button>
            </div>
        </div>
    </div>
</div>

<form method="POST" name="delete-course-form"> </form>

<form method="POST" name="restore-course-form"> </form>

<script>
    // Dùng Jquery
    document.addEventListener('DOMContentLoaded', function() {
        var courseId;
        var deleteForm = document.forms['delete-course-form'];
        var restoreForm = document.forms['restore-course-form'];
        var btnDeleteCourse = document.getElementById('btn-delete-course');
        var restoreBtn = $('.btn-restore');

        // When dialog confirm clicked
        $('#delete-course-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            courseId = button.data('id');
        });
        
        // When delete course btn clicked
        btnDeleteCourse.onclick = function () {
            deleteForm.action = '/courses/' + courseId + '/force?_method=DELETE';
            deleteForm.submit();
        }

        // Restore btn clicked
        restoreBtn.click(function (e) {
            e.preventDefault();
            
            var courseId = $(this).data('id');
            restoreForm.action = '/courses/' + courseId + '/restoreCourse?_method=PATCH';
            restoreForm.submit();
        });
    });
</script>